body {
    margin: 0px;
    height: 100vh;
    background: #C9D6FF;  
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Sunflower", sans-serif;
}

.container {
    background-color: white;
    padding: 2rem;
    /* border-radius: 10px; */
    width: 100%;
    max-width: 750px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.input-area {
    display: flex;
    align-items: center; 
    margin-bottom: 1rem; 
}

#task-input {
    flex: 1; 
    padding: 0.60rem; 
    border: 1px solid lightgray; 
    border-radius: 5px;
    font-size: 1rem; 
}

#add-button {
    border: none; 
    background-color: #E6E6FA;
    color: white; 
    padding: 0.60rem 1rem; 
    margin-left: 0.5rem; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

#add-button:hover {
    background-color: #C9D6FF;
}

.task-area {
    border: 1px solid lightgrey;
}

.task-tabs {
    display: flex;
    border-bottom: 1px solid lightgrey;
    position: relative;
}

.task-tabs .tab {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 1rem 0;
    position: relative;
    font-weight: bold;
    color: #333;
}

.task-tabs div {
    flex: 1; 
    text-align: center; 
    cursor: pointer; 
    padding: 1rem 0; 
    position: relative; 
}

#tab-underline {
    height: 5px; 
    background-color: #ADD8E6;
    position: absolute;
    /* width: 238px; */
    left: 0px;
    bottom: 0;
    top: 52px;
    padding: 0px;
    transition: width 0.3s ease, left 0.3s ease;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

.task:last-child {
    border-bottom: none; 
}

.task-done {
    text-decoration: line-through; /* 취소선 */
    color: #888;
}

.button-box {
    display: flex;
    gap: 0.5rem;
}

.button-box button {
    border: none; 
    padding: 0.5rem; 
    cursor: pointer; 
    background-color: transparent; 
}

.button-box button :active {
    position: relative;
    top: 2px;
}

.button-box button:first-child:hover {
    background-color: #B0E0E6;
}

.button-box button:nth-child(2):hover {
    background-color: #FFFACD;
}

.fa-check {
    color: #4169E1;
}

.fa-undo-alt {
    color: #778899;
}

.fa-trash-can {
    color: #FF4500;
}

@media (max-width: 48rem) {
    .container {
        padding: 1rem; /* 안쪽 여백 1렘 */
    }
    #task-input {
        font-size: 0.9rem; /* 글꼴 크기 0.9렘 */
    }
    .task-tabs .tab {
        font-size: 0.9rem; /* 탭 글꼴 크기 0.9렘 */
    }
    .button-box button {
        padding: 0.4rem; /* 버튼 안쪽 여백 0.4렘 */
    }
}