body {
    margin: 0px;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Sunflower", sans-serif;
}

.container {
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.task-area {
    border: 1px solid lightgrey;
}

.task-tabs {
    display: flex;
    border-bottom: 1px solid lightgrey;
    position: relative;
}

.task-tabs div {
    padding: 1em;
    margin-right: 15px; 
    cursor: pointer;
}

#under-line {
    height: 4px !important;
    background-color: #ADD8E6;
    position: absolute;
    width: 60px;
    left: 0px;
    top: 52px;
    padding: 0px;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.task-done {
    text-decoration: line-through; /* 텍스트 밑줄 */
    background-color: #FFEBCD;
    transition: 0.5s;
}


.button-box {
    display: flex;
}

.button-box button {
    height: 100%;
    border: none;
    width: 5em;
    margin: 0;
    background-color: white;
    transition: 0.5s;
}

.button-box button :active {
    position: relative;
    top: 2px;
}

.button-box button:first-child:hover {
    background-color: #B0E0E6;
}

.button-box button:nth-child(2):hover {
    background-color: #FFFACD;
}

.fa-check {
    color: #4169E1;
}

.fa-undo-alt {
    color: #778899;
}

.fa-trash-can {
    color: #FF4500;
}






